<section class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 p-6">
  <div class="flex flex-col rounded-xl shadow-lg shadow-black/20 overflow-hidden">
    <div class="flex flex-col relative">
      <span class="absolute top-2 right-2 bg-green-400 bg-opacity-75 rounded-full px-4 py-1 text-sm font-mono font-bold text-white">Disponible</span>
      <img src="/img/platos-imagenes/pollo-broaster.jpg" class="w-full h-64 object-cover object-center" alt="">
    </div>
    <div class="flex flex-col p-4 gap-3">
      <div class="flex flex-row justify-between items-center">
        <h3 class="font-mono font-semibold">Pollo Broaster</h3>
        <span class="font-mono">Bs: 14/28</span>
      </div>
      <button-agregar-pedido buttonText="Agregar"/>
      <!-- <div class="flex flex-col w-full bg-amber-400 hover:bg-amber-500 rounded-xl text-center">
        <button class=" text-white rounded-md px-4 py-2">Agregar</button>
      </div> -->

    </div>
  </div>
  <div>2</div>
  <div>3</div>
  <div>4</div>
  <div>3</div>
  <div>3</div>
</section>
