<!--

  <h1 class="text-2xl font-bold font-montserrat" >{{productPage().title}}</h1>
  <p class="font-montserrat">{{productPage().description | slice:0:100}}</p>

 -->

@if ( productResource.isLoading() ) {
  <div class="felx justify-center items-center h-screen">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
}


@if ( productResource.hasValue() ) {
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
    <product-image [images]="productResource.value().images" />

    <div>
      <h2 class="text-2xl font-bold font-monserrat">
        {{ productResource.value().title}}
      </h2>
      <div class="divider"></div>
      <p>
        {{ productResource.value().description }}
      </p>

    </div>

  </div>
}


