
<div routerLink="/home" class="flex flex-row gap-1 items-center p-2 text-gray-800 bg-white hover:bg-red-400 hover:text-white transition-transform hover:scale-105 delay-75 duration-300 ease-in-out rounded-xl shadow-md shadow-gray-400/70 hover:shadow-red-200 hover:shadow-xl cursor-pointer">
  <svg xmlns="http://www.w3.org/2000/svg" class="flex flex-col w-12 justify-center items-center" width="25" height="25" viewBox="0 0 512 512"><path fill="none" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M304 336v40a40 40 0 0 1-40 40H104a40 40 0 0 1-40-40V136a40 40 0 0 1 40-40h152c22.09 0 48 17.91 48 40v40m64 160l80-80l-80-80m-192 80h256"/></svg>
  <button type="button" class="p-2 font-mono">{{buttonText()}}</button>
</div>

