

<!--
<section class="pt-3 pb-3">

  <gif-list [gifs]="gifService.trendingGifs()"/>

</section> -->




<div
  class="h-screen overflow-y-scroll grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-5 pb-5"
  (scroll)="onScroll($event)"
  #groupDiv

>
  @for (group of gifService.trendinGridgroup(); track $index) {
    <div class="grid gap-4">

      @for (gif of group; track gif.id) {
        <div>
          <img
            class="h-full w-full rounded-lg object-cover"
            [src]="gif.url"
            [alt]="gif.title"
          />
        </div>
      }
    </div>
  }
</div>
