<h1>Dragonball Page</h1>
<hr>

<section class="row">

  <div class="col-12 col-sm-6">

    <h3 >Agregar: {{ name()}}</h3>
    <input
      type="text"
      class="form-control"
      placeholder="Nombre"
      [value] = "name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"
      #txtName
    />

    <h3 class="mt-2">Power: {{ power() }}</h3>
    <input
      type="number"
      class="form-control mt-2"
      placeholder="Power"
      [value] = "power()"
      (change)="power.set( +txtPower.value )"
      (input)="power.set( +txtPower.value )"
      #txtPower
    />

    <button
      class="mt-2 btn btn-primary"
      (click)="addCharacter()"
      >Agregar
    </button>

  </div>

  <div class="col-12 col-sm-6">
    <h3>listado Fuertes</h3>
    <ul>
      @for ( character of characters(); track character.id; let i = $index) {

        @if (character.power > 10000) {

          <li>
            <span> {{ i + 1 }} - {{character.name }}</span>
            <strong
              [class.text-danger] = "character.power > 15000"
              [class.text-info] = "character.power <= 15000"
              >
                <!-- [ngClass="powerClasses"] -->
                ({{ character.power }})</strong
              >
          </li>
        } @else {
          <li>
            <strong> No cumple el resgistro de poder minimo </strong>
          </li>
        }
      }
    </ul>
  </div>

</section>
