<section class="min-h-screen w-full bg-cover bg-center flex flex-col md:flex-row justify-center items-center"
  style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/fondo-home.jpg');">

  <auth-layout [imageUrl]="'/img/fondo-register y login.jpg'">

    <form novalidate action="" class="bg-black w-full h-full flex flex-col items-center justify-center gap-2 p-0 md:p-10">
      <h1 class="text-2xl text-white">Sign Up Account</h1>
      <p class="text-gray-400 text-xs">Enter your personal datato create your account</p>

      <auth-social/>

      <hr class="border-gray-600 w-full max-w-xs my-4 ">
      <div class="flex flex-col gap-3 w-full max-w-xs">
        <auth-input
          [label]="'Nombre'"
          [placeholder]="'Ingrese su nombre'"
          [required]="true"
          [type]="'text'"
          [value]="nombre()"
          (valueChange)="nombre.set($event)"
          />
        <auth-input
          [label]="'Email'"
          [placeholder]="'Ingrese su correo electrónico'"
          [required]="true"
          [type]="'email'"
          [value]="email()"
          (valueChange)="email.set($event)"/>
        <auth-input
          [label]="'Password'"
          [placeholder]="'Ingrese su contraseña'"
          [required]="true"
          [type]="'password'"
          [value]="password()"
          (valueChange)="password.set($event)"
          />
      </div>
      <p class="text-gray-400 text-xs flex flex-row w-full max-w-xs items-center">Must be at least 8 characters</p>

      <auth-button [buttonText]="'Sign Up'" (buttonClick)="onRegister()"/>


      <p class="text-gray-400 text-xs mt-4">Already have an account? <a routerLink="/auth/login" class="text-white font-bold hover:text-gray-200 cursor-pointer">Login</a></p>
    </form>
  </auth-layout>
</section>


<!-- <section class="min-h-screen w-full bg-cover bg-center flex flex-col md:flex-row justify-center items-center"
style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/fondo-home.jpg');">

  <div class="w-full max-w-4xl bg-black flex flex-col md:flex-row rounded-bl-4xl rounded-tr-4xl overflow-hidden shadow-lg shadow-black/40">
    <img src="/img/fondo-register y login.jpg" class="object-center object-cover">
    <form action="" class="w-full flex flex-col items-center justify-center gap-2">
      <h1 class="text-2xl text-white">Sign Up Account</h1>
      <p class="text-gray-400 text-xs">Enter your personal datato create your account</p>
      <div class="flex flex-row justify-center items-center gap-3 mt-6">
        <button class="text-white border border-gray-600 rounded-xl px-10 py-2 text-xs flex flex-row justify-center items-center gap-2 cursor-pointer hover:bg-gray-800/50 transition-colors duration-200 ease-in-out">
          <svg
            xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path fill="currentColor" d="M21.456 10.154c.123.659.19 1.348.19 2.067c0 5.624-3.764 9.623-9.449 9.623A9.84 9.84 0 0 1 2.353 12a9.84 9.84 0 0 1 9.844-9.844c2.658 0 4.879.978 6.583 2.566l-2.775 2.775V7.49c-1.033-.984-2.344-1.489-3.808-1.489c-3.248 0-5.888 2.744-5.888 5.993s2.64 5.999 5.888 5.999c2.947 0 4.953-1.686 5.365-4h-5.365v-3.839z"/>
          </svg>
          Google</button>
        <button class="text-white border border-gray-600 rounded-xl px-10 py-2 text-xs flex flex-row justify-center items-center gap-2 cursor-pointer hover:bg-gray-800/50 transition-colors duration-200 ease-in-out">
          <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><g fill="none"><g clip-path="url(#SVGXv8lpc2Y)"><path fill="currentColor" fill-rule="evenodd" d="M0 12.067C0 18.034 4.333 22.994 10 24v-8.667H7V12h3V9.333c0-3 1.933-4.666 4.667-4.666c.866 0 1.8.133 2.666.266V8H15.8c-1.467 0-1.8.733-1.8 1.667V12h3.2l-.533 3.333H14V24c5.667-1.006 10-5.966 10-11.933C24 5.43 18.6 0 12 0S0 5.43 0 12.067" clip-rule="evenodd"/></g><defs><clipPath id="SVGXv8lpc2Y"><path fill="#fff" d="M0 0h24v24H0z"/></clipPath></defs></g></svg>
          Facebook</button>
      </div>
      <hr class="border-gray-600 w-full max-w-xs my-4 ">

      <div class="flex flex-col gap-2 w-full max-w-xs">
        <h1 class="text-white text-sm">Nombre</h1>
        <input
          class="bg-gray-600/50 w-full px-3 py-2 rounded-xl text-sm text-gray-400"
          type="text"
          placeholder="Nombre completo"
          required>
      </div>
      <div class="flex flex-col gap-2 w-full max-w-xs">
        <h1 class="text-white text-sm">Email</h1>
        <input
          class="bg-gray-600/50 w-full px-3 py-2 rounded-xl text-sm text-gray-400"
          type="text"
          placeholder="Correo electrónico"
          required>
      </div>
      <div class="flex flex-col gap-2 w-full max-w-xs">
        <h1 class="text-white text-sm">Password</h1>
        <input
          class="bg-gray-600/50 w-full px-3 py-2 rounded-xl text-sm text-gray-400"
          type="password"
          placeholder="Contraseña"
          required>
      </div>
      <p class="text-gray-400 text-xs flex flex-row w-full max-w-xs items-center">Must be at least 8 characters</p>
      <button class="w-full max-w-xs bg-white py-2 mt-4 rounded-xl font-semibold hover:bg-gray-200 cursor-pointer transition-transform delay-150 duration-300 ease hover:scale-105">Sign Up</button>

      <p class="text-gray-400 text-xs mt-4">Already have an account? <a routerLink="/auth/login" class="text-white font-bold hover:text-gray-200 cursor-pointer">Login</a></p>
    </form>
  </div>


</section> -->
