<section class="min-h-screen w-full bg-cover bg-center flex flex-col justify-center items-center"
style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/img/fondo-home.jpg');">
  <div class="max-w-3xl flex flex-col items-center text-center gap-2">
    <h1 class="text-4xl text-white font-serif  text-shadow-lg/30 text-shadow-white">Bienvenido a Pico Dorado</h1>
    <p class="text-gray-300 mb-4 text-shadow-lg/30 text-shadow-white ">El Mejor pollo broaster y spiedo</p>
    <button routerLink="/auth/Login" class="bg-linear-to-r from-yellow-400 via-yellow-500 to-red-600 text-white px-4 py-2 rounded-xl cursor-pointer transition-transform hover:scale-110 delay-150 duration-300 ease-in-out animate-bounce shadow-lg shadow-orange-400">Empezar jornada</button>
  </div>
</section>

